.Wax hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.Wax hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}

.Wax ul,
.Wax ol {
  padding-left: 30px;
}

.Wax blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}

.Wax img {
  cursor: default;
}

.Wax table {
  border-spacing: 0px;
}

.Wax th,
.Wax td {
  border: 1px solid #eee;
  padding: 2px 5px;
}

.Wax sup,
.Wax sub {
  line-height: 0;
}
