.wax-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Wax {
  font-family: Arial;
  background: #fff;
}

.main-editor {
  margin: 2% 0 0 0;
  outline: none;
  width: 100%;
  height: 93%;
  overflow-y: auto;
}

.Wax .ProseMirror {
  margin: 10px;
}

.Wax .ProseMirror:focus {
  outline: none;
}

/* placeholder */
.Wax .empty-node::before {
  color: #aaa;
  float: left;
  font-style: italic;
  pointer-events: none;
  height: 0;
}

.Wax p.empty-node:first-child::before {
  content: attr(data-content);
}
